@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}

:root {
  /* === colors === */
  --body-color: #FBFBFB;
  /*e4e9f7*/
  --sidebar-color: #F17401;
  --secondary-color: #F9DD97;
  --primary-color-light: #ffff;
  --toggle-color: #ddd;
  --text-color: #fdfbfb;
  --icon-color: #060606;

  /* --tran-03: all 0.4 ease;
  --tran-03: all 0.3 ease;
  --tran-03: all 0.4 ease;
  --tran-05: all 0.4 ease; */

  --green-pekat: #003C25;
  --green-light: #BFE1D5;
  --green-more-light:#E9FFF8;
  --green-more-light-tw:#D0F4E9;
  --green-blue: #0E7174;
  --brown-pekat: #906741;
  --brwon-light: #B49567;
}

body {
  height: 100vh;
  background: var(--primary-color-light);
}

.all-section {
  display: flex;
}


/* =========== sidebar / Section Kiri========== */
aside {
  position: sticky;
  top: 0;
  height: 100vh;
  /* width: auto; */
  padding: 10px;
  display: flex;
  background-color: var(--green-pekat);
}

.sidebar{
  transition: all ease-in-out .4s;
  width: 180px;
  overflow-x: hidden;
}

/* == menghide sidebar == */
.sidebar.hide{
  width: 65px;
  transition: all ease-in-out .4s;
}

/* ==== logo text ==== */

.sidebar .image-text {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.sidebar .image-text .logo {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .image-text .text-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-color);
}

/* == tulisan team 19 menghilang == */
.sidebar.hide .image-text .text-logo{
  display: none;
}

.text-logo .team {
  font-size: 16px;
  font-weight: 600;
}

.text-logo .kota {
  font-size: 14px;
  font-weight: 500;
}

/* ==== img logo revou ==== */
.logo img {
  width: 50px;
  height: auto;
  margin: 10px;
}


/* ==== Menu Sidebar ==== */

.sidebar .menu-bar {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}


/* icons sidebar */
.sidebar .menu .icons {
  font-size: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-more-light-tw);
}

.sidebar  .text {
  color: var(--brwon-light); 
  font-weight: 600;
}

/*  == mengilangkan text di sidebar == */
.sidebar.hide .menu li .text{
  display: none;

}


/* ==== navigation menu ==== */

.sidebar .menu li{
  list-style: none;
  justify-content: center;
  padding: 5px;
 

}

.sidebar .menu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all ease-in .4s;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
 

}

/* active */
.sidebar li a.active{
  background: var(--green-more-light);
}

/* hover */
.sidebar li a:hover {
  background: var(--green-more-light);
}

/* active text color */
.sidebar li a.active .icons,
.sidebar li a.active .text {
  color: var(--green-pekat);
}

/* hover text color */
.sidebar li a:hover .icons,
.sidebar li a:hover .text {
  color: var(--green-pekat);
}


/* ============= Section Main kanan =============== */

.main-section {
  width: 100%;
}

/* ============= header content =============== */

.head-content {
  position: sticky;
  top: 0;
  width: 100%;
  color: #dcdbdb;
  background-color: var(--primary-color-light);
  z-index: 100;
  padding: 0 24px;
  box-shadow: 2px 1px 5px 1px;
}

.head-content nav {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  justify-content: space-evenly;
}

/* === picture profile ===*/
.head-content nav a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;

}


/* === kursor === */
.head-content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--green-pekat);
  align-items: end;

}

#menu-button{
  height: 50px;
  font-size: 36px;
  font-weight: 700;
  overflow: hidden;
  
}


#menu-label {
  position: relative;
  display: block;
  cursor: pointer;
}

#menu-checkbox{
  display: none;
}

.head-content nav .link-nav {
  font-size: 20px;
  font-weight: bold;
  color: var(--brown-pekat);
  transition: .3s ease;
  text-decoration: none;
}

/* === form search === */
.head-content nav form {
  max-width: 600px;
  width: 90%;
  display: flex;
  margin: auto;
}

/* === form searchbar ===*/
.head-content nav form .form-input {
  display: flex;
  background: #f9f9f9;
  color: #e7e7e9;
  align-items: center;
  height: 35px;
  width: 100%;
  border-radius: 10px;
  padding-left: 2px;
  box-shadow: 2px 1px 2px 2px;
}


.head-content nav form .form-input input {
  background-color: var(--primary-color-light);
  padding: 7px;
  border-radius: 0 10px 10px 0px;
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  outline: none;

}


/* submit */
.head-content nav form .form-input button {
  width: 38px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--primary-color-light);
  font-size: 18px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: #E4E4E7;
  padding: 9px;
  color: var(--green-pekat);
  cursor: pointer;
}

.head-content nav form .form-input button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 1px 0px;
}

/* ==== icon notif ==== */
.head-content nav .notification {
  font-size: 20px;
  position: relative;
  z-index: 10;
  color: var(--green-pekat);
  padding-top: 2px;
}



/* ============ main container ========= */

.main-container {
  width: 100%;
  cursor: pointer;
  padding: 10px;
}

/* ============ chart container ========= */



a{
    text-decoration: none;
}

#team-card{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.heading {
    display: block;
    padding-top: 20px;
    
}

.name-team label{
  font-size: 20px;
  font-weight: 700;
  color: var(--green-pekat);
}

.container-card{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* border: 2px solid #B49567; */
    gap: 0;
}

.box{
    width: 250px;
    height: 350px;
    background-color: var(--green-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.top-bar{
    width: 50%;
    height: 6px;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top:0;
    transform: translate(-50%);
    background-color: var(--green-pekat);
    border-radius: 0 0 10px 10px;
}



.top-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-icons .left,
.top-icons .right{
   color: var(--green-pekat);
   cursor: pointer;
}


.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.6);
}

.details .name{
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--green-pekat);
}

.details .description{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.details .description .role{
  font-size: 12px;
  font-weight: 400;
  color: var(--green-pekat);
}

.details .description .study{
  font-size: 14px;
  font-weight: 600;
  padding-top: 2px;
  color: var(--brown-pekat);
}
.sosmed{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    line-height: 45px;
    gap: 15px;
}

.sosmed a{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 55px;
    background-color: var(--green-pekat);
    color: var(--green-more-light);
}

.sosmed a i {
    justify-content: center;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

.sosmed a:hover {
    color: #fff;
    background-color: var(--brown-pekat);
    transition: all ease 0.3s;
}

.box:hover{
    transform: scale(1.01);
    transition: all ease 0.1s;
}

.line-1{
  border: 2px solid;
  border-color: var(--green-pekat);
  width:100%;
  margin-top:2px;
  margin-bottom:2px;
}

.line-2{
  border: 1.3px solid;
  border-color: var(--green-pekat);
  width:100%;
  margin-top:2px;
  margin-bottom:2px;
}

.card-desc{
  border: 2px solid #906741;
}

@media(max-width:612px){
    .box{
        flex-grow: 0.7;
    }
}




/* =======================  FOOTER ======================*/

footer {
  background-color: var(--green-light);
  color: var(--green-pekat);
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  z-index: 23;
}
/* ==== END FOOTER ==== */