@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}

:root {
  /* === colors === */
  --body-color: #FBFBFB;
  --white-color: #ffff;
  --toggle-color: #ddd;
  --text-color: #fdfbfb;
  --green-pekat: #003C25;
  --green-light: #BFE1D5;
  --green-more-light: #E9FFF8;
  --green-more-light-tw: #D0F4E9;
  --green-blue: #0E7174;
  --brown-pekat: #906741;
  --brwon-light: #B49567;
}

body {
  background-color: var(--white-color);
}

.all-section {
  display: flex;
}


/* =========== sidebar / Section Kiri========== */
aside {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 10px;
  display: flex;
  background-color: var(--green-pekat);
}

.sidebar {
  transition: all ease-in-out .4s;
  width: 180px;
  overflow-x: hidden;
}

/* == menghide sidebar == */
.sidebar.hide {
  width: 65px;
  transition: all ease-in-out .4s;
}

/* ==== logo text ==== */

.sidebar .image-text {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.sidebar .image-text .logo {
  min-width: 60px;
  display: flex;
  align-items: center;

}

.sidebar .image-text .text-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-color);
}

/* == tulisan team 19 menghilang == */
.sidebar.hide .image-text .text-logo {
  display: none;
}

.text-logo .team {
  font-size: 16px;
  font-weight: 600;
}

.text-logo .kota {
  font-size: 14px;
  font-weight: 500;
}

/* ==== img logo team ==== */
.logo img {
  width: 50px;
  height: auto;
  margin: 10px;
  border-radius: 50px;
}


/* ==== Menu Sidebar ==== */

.sidebar .menu-bar {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}


/* icons sidebar */
.sidebar .menu .icons {
  font-size: 24px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-more-light-tw);
}

.sidebar .text {
  color: var(--brwon-light);
  font-size: 18px;
  font-weight: 600;

}

/*  == mengilangkan text di sidebar == */
.sidebar.hide .menu li .text {
  display: none;

}

/* ==== navigation menu ==== */
.sidebar .menu li {
  list-style: none;
  justify-content: center;
  padding: 8px;


}

.sidebar .menu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all ease-in .4s;
  border-radius: 10px;
  padding: 10px;

}

/* active */
.sidebar li a.active {
  background: var(--green-more-light);
}

/* hover */
.sidebar li a:hover {
  background: var(--green-more-light);
}

/* active text color */
.sidebar li a.active .icons,
.sidebar li a.active .text {
  color: var(--green-pekat);
}

/* hover text color */
.sidebar li a:hover .icons,
.sidebar li a:hover .text {
  color: var(--green-pekat);

}



/* =========== nemu bottom ======  */

.menu-bottom {
  display: none;
}


/* ============= header content =============== */

.image-text.mobile {
  display: none;
}

.head-content {
  position: sticky;
  top: 0;
  width: 100%;
  color: #dcdbdb;
  background-color: var(--white-color);
  z-index: 100;
  padding: 0 20px;
  box-shadow: 2px 1px 5px 1px;
}

.head-content nav {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

/* === picture profile ===*/
.head-content nav a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;

}

/* === kursor === */
.head-content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--green-pekat);
  align-items: end;
}

/* =========== logo maven ===== */
#menu-button {
  height: 50px;
  font-size: 36px;
  font-weight: 700;
  overflow: hidden;
}
#menu-label {
  position: relative;
  display: block;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}
.head-content nav .link-nav {
  font-size: 20px;
  font-weight: bold;
  color: var(--brown-pekat);
  transition: .3s ease;
  text-decoration: none;
}

/* ==== icon notif ==== */
.head-content nav .notification {
  font-size: 20px;
  position: relative;
  z-index: 10;
  color: var(--green-pekat);
  padding-top: 2px;
}


/* ============ main container ========= */

.main-container {
  width: 100%;
  cursor: pointer;
  padding: 10px;
}

/* ============ chart container ========= */

.text-chart {
  padding-top: 0px;
}

.text-chart #text1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  color: var(--brown-pekat);
}

.text-chart #text2 {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #979797;
}

/* ========== filter ============= */

.filter {
  display: flex;
  margin: 10px;
  gap: 10px;
}
#store {
  padding: 10px 10px;
  background-color: var();
  color: var(--green-blue);
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding-right: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border: none;
}
#store:focus,
#store:hover {
  outline: none;
  background-color: var(--green-light);
  color: var(--green-pekat);
}
#store option {
  background: var(--white-color);
  color: var(--green-pekat);
  font-weight: 500;
}
.filter-2 {
  display: flex;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
.filter-2 label {
  margin-left: 6px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--green-blue);
}
.filter-2 input[type="date"] {
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--green-blue);
}
.filter-2 input[type="date"]:focus,
.filter-2 input[type="date"]:hover {
  outline: none;
  background-color: var(--green-light);
  color: var(--green-pekat);
}
::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

/* ================ CARD ==========*/
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;
  grid-template-areas:
    "area-1 area-2 area-3 area-4"
    "area-5 area-5 area-6 area-6"
    "area-7 area-7 area-8 area-8"
    "area-9 area-9 area-9 area-9"
  ;
}
.rectangle-1 {
  grid-area: area-1;
  height: 120px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.rectangle-2 {
  grid-area: area-2;
  height: 120px;
  background: var(--white-color);
  border-radius: 10px;
  align-items: center;
  display: flex;
  grid-gap: 2px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.rectangle-2 .ikon {
  width: 65px;
  height: 65px;
  border-radius: 12px;
  background: var(--green-light);
  color: var(--green-pekat);
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.rectangle-3 {
  grid-area: area-3;
  height: 120px;
  background: var(--white-color);
  border-radius: 10px;
  align-items: center;
  display: flex;
  grid-gap: 2px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.rectangle-3 .ikon {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  background: var(--green-light);
  color: var(--green-pekat);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle-4 {
  grid-area: area-4;
  height: 120px;
  background: var(--white-color);
  border-radius: 10px;
  align-items: center;
  display: flex;
  grid-gap: 2px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.rectangle-4 .ikon {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  background: var(--green-light);
  color: var(--green-pekat);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle-5 {
  grid-area: area-5;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);

}
.rectangle-6 {
  grid-area: area-6;
  background: var();
  border-radius: 10px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.rectangle-7 {
  grid-area: area-7;
  background: var();
  border-radius: 10px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.rectangle-8 {
  grid-area: area-8;
  background: var();
  border-radius: 10px;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}

/* ======= top performance ==========  */

.performance .table-wrapper {
  max-height: 70px;
  overflow-y: auto;
  border-radius: 5px;
  width: 100%;

}
.performance table {
  width: 100%;
  border-collapse: collapse;
}
.performance table #headPerformance th {
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  background: var(--green-more-light-tw);
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.performance table #bodyPerformance td {
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: var(--green-pekat);
  border-top: 1px solid #ddd;
}
.performance table th,
.performance table td {
  border-bottom: 1px solid #ddd;
}

.rectangle-1 .card-performance {
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--green-pekat);
}

.rectangle-1,
.rectangle-2,
.rectangle-3,
.rectangle-4,
.rectangle-5,
.rectangle-6,
.rectangle-7,
.rectangle-8 .card-name {
  padding: 10px;
}
.rectangle-2,
.rectangle-3,
.rectangle-4,
.card-name .numbers, .card-container label{
  font-size: 20px;
  font-weight: 700;
  color: var(--brown-pekat);
  padding-left: 20px;
}
.rectangle-2,
.rectangle-3,
.rectangle-4,
.card-name label {
  font-size: 16px;
  font-weight: 500;
  color: var(--green-pekat);
}
.rectangle-5,
.rectangle-6,
.rectangle-7,
.rectangle-8 .card-name {
  text-align: center;
  padding: 10px;
  color: var(--green-pekat);
  font-weight: 500;
}
.rectangle-1:hover,
.rectangle-2:hover,
.rectangle-3:hover,
.rectangle-4:hover,
.rectangle-5:hover,
.rectangle-6:hover,
.rectangle-7:hover,
.rectangle-8:hover,
.table-container:hover {
  transform: scale(1.02);
  transition: all ease 0.2s;
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}

/* ========== CHART ============= */

canvas {
  max-height: 87% !important;
}
#pie-chart {
  height: 100%;
  flex-wrap: wrap;
  padding: 10px;
}
#bar-chart {
  height: 100%;
  padding: 10px;
}
#bar-chart-2 {
  height: 100%;
  padding: 10px;
}
#line-chart {
  height: 100%;
  padding: 10px;
}

/* ============= TABLE  ============ */
.table-container {
  grid-area: area-9;
  background: var();
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
  color: var(--green-pekat);
  background-color: var(--white-color);
  box-shadow: 0px 5px 29px 0px rgba(0, 60, 37, 0.3);
}
.table-container .text-table {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;

}
.table-container table {
  padding-right: 20px;
}
.table-container table thead {
  background-color: var(--green-pekat);
  color: var(--white-color);
  text-transform: uppercase;
}

.table-container tr {
  font-size: 12px;
  text-align: left;
}

.table-container table tbody {
  font-weight: 400;

}

.table-container table tbody td {
  border-bottom: 1px solid rgba(191, 225, 213, 0.402);
  text-align: left !important;
}

.dt-layout-row {
  display: none;
  overflow-y: auto;
}

.dt-length label {
  margin-left: 0px;
  padding-left: 5px;
  font-size: 14px;
}

.table-container table tbody tr:nth-child(even) {
  background: #D8E9E4;
}

.table-container table tbody tr:hover {
  background: var(--green-light);
}

.dt-search label {
  font-size: 14px;
}

/* ===== Profile Card ========== */

#team-card {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.heading {
  display: block;
  padding-top: 20px;

}

.name-team label {
  font-size: 28px;
  font-weight: 700;
  color: var(--green-pekat);
}

.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}

.box {
  width: 250px;
  height: 350px;
  background-color: var(--green-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.top-bar {
  width: 50%;
  height: 6px;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background-color: var(--green-pekat);
  border-radius: 0 0 10px 10px;
}

.top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-icons .left,
.top-icons .right {
  color: var(--green-pekat);
  cursor: pointer;
}


.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.6);
}

.details .name {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--green-pekat);
}

.details .description {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details .description .role {
  font-size: 12px;
  font-weight: 400;
  color: var(--green-pekat);
}

.details .description .study {
  font-size: 14px;
  font-weight: 600;
  padding-top: 2px;
  color: var(--brown-pekat);
}

.sosmed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  line-height: 45px;
  gap: 15px;
}

.sosmed a {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 55px;
  background-color: var(--green-pekat);
  color: var(--green-more-light);
}

.sosmed a i {
  justify-content: center;
  font-size: 24px;
  align-items: center;
  text-align: center;
}

.sosmed a:hover {
  color: #fff;
  background-color: var(--brown-pekat);
  transition: all ease 0.3s;
}

.box:hover {
  transform: scale(1.01);
  transition: all ease 0.1s;
}

.line-1 {
  border: 2px solid;
  border-color: var(--brown-pekat);
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.line-2 {
  border: 1.3px solid;
  border-color: var(--green-pekat);
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* ========== TABLET VERSION ========  */

@media (max-width: 768px) {

  .all-section {
    display: flex;
    flex-direction: row;
  }

  /* .main-section {
  
  } */
  .main-container {
    width: 100%;
  }
  .filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "filter-1"
      "filter-2";
  }
  .filter-2 {
    width: 70%;
  }
  .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-template-areas:
      "area-1 area-2 "
      "area-3 area-4 "
      "area-5 area-5 "
      "area-6 area-6 "
      "area-7 area-7 "
      "area-8 area-8 "
      "area-9 area-9"
    ;
  }

}




/* =============== MOBILE VERSION ========= */

@media (max-width: 480px) {
  aside {
    display: none;
  }

  #menu-button {
    display: none;
  }

  .main-section {
    width: 100%;
  }

  .head-content {
    padding: 0px;
  }

  .image-text.mobile {
    display: flex;
    color: #003C25;
    height: 100%;
    align-items: center;
    transform: scale(0.8);
  }

  .image-text.mobile .text-logo {
    display: flex;
    flex-direction: column;
  }

  .menu-bottom {
    display: flex;
    background-color: var(--green-pekat);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }

  .menu-bottom a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
  }

  .menu-bottom ul {
    list-style: none;
    font-weight: 600;
    flex-direction: column;
    text-align: center;

  }

  .menu-bottom a .icons {
    font-size: 20px;
    color: var(--green-more-light-tw);
  }

  .menu-bottom .text {
    color: var(--brwon-light);
    font-size: 18px;
    font-weight: 600;

  }
  .menu-bottom li a.active {
    background: var(--green-more-light);
  }
  .menu-bottom li a:hover {
    background: var(--green-more-light);
  }
  .menu-bottom a.active .icons,
  .menu-bottom li a.active .text {
    color: var(--green-pekat);
  }
  .menu-bottom li a:hover .icons,
  .menu-bottom li a:hover .text {
    color: var(--green-pekat);

  }
  .filter-2 {
    width: 90vw;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "area-1"
      "area-2"
      "area-3"
      "area-4"
      "area-5"
      "area-6"
      "area-7"
      "area-8"
      "area-9"
    ;
  }

  [class^="rectangle-"] {
    width: 90vw;
  }

  .rectangle-2,
  .rectangle-3,
  .rectangle-4{
    justify-content: flex-start;
  
  }
  .rectangle-2 .card-name,
  .rectangle-3 .card-name,
  .rectangle-4 .card-name{
    padding-left: 20px;
  }

  footer {
    margin-bottom: 50px;
  }
}





/* =======================  FOOTER ======================*/

footer {
  background-color: var(--green-light);
  color: var(--green-pekat);
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  z-index: 23;
}