@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}

:root {
  /* === colors === */
  --body-color: #FBFBFB;
  /*e4e9f7*/
  --sidebar-color: #F17401;
  --secondary-color: #F9DD97;
  --primary-color-light: #ffff;
  --toggle-color: #ddd;
  --text-color: #fdfbfb;
  --icon-color: #060606;

  --tran-03: all 0.4 ease;
  --tran-03: all 0.3 ease;
  --tran-03: all 0.4 ease;
  --tran-05: all 0.4 ease;
}

body {
  height: 100vh;
  background: var(--primary-color-light);
}

.all-section {
  display: flex;
}


/* =========== sidebar / Section Kiri========== */
aside {
  position: sticky;
  top: 0;
  height: 100vh;
  width: auto;
  /* width: 250px; */
  /* padding: 3px 10px; */
  padding: 10px;
  display: flex;
  /* border: 2px solid #201c1d; */
  background-color: var(--sidebar-color);
  transition: all ease-in .4s;
}


/* == menghide sidebar == */
.sidebar.hide{
  width: 70px;
  transition: all ease-in-out .4s;
}

/* ==== logo text ==== */

.sidebar .image-text {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.sidebar .image-text .logo {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .image-text .text-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-color);
}

/* == tulisan team 19 menghilang == */
.sidebar.hide .image-text .text-logo{
  display: none;
}

.text-logo .team {
  font-size: 16px;
  font-weight: 600;
}

.text-logo .kota {
  /* margin: 5px; */
  /* display: flex; */
  font-size: 14px;
  font-weight: 500;
}

/* ==== img logo revou ==== */
.logo img {
  width: 50px;
  height: auto;
  margin: 10px;
}


/* ==== Menu Sidebar ==== */

.sidebar .menu-bar {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}


/* icons sidebar */
.sidebar .menu .icons {
  font-size: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.sidebar  .text {
  color: var(--text-color); 
}

/*  == mengilangkan text di sidebar == */
.sidebar.hide .menu li .text{
  display: none;
}


/* ==== navigation menu ==== */

.sidebar .menu li{
  list-style: none;
  justify-content: center;
  padding: 5px;



}

.sidebar .menu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all ease-in .4s;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
}


/* active */
.sidebar li a.active{
  background: var(--secondary-color);
  color: var(--icon-color);
}

/* hover */
.sidebar li a:hover {
  background: var(--secondary-color);
  color: var(--icon-color);
}

/* active text color */
.sidebar li a.active .icons,
.sidebar li a.active .text {
  color: var(--icon-color); /* Mengatur warna teks ikon dan teks dalam state aktif */
}

/* hover text color */
.sidebar li a:hover .icons,
.sidebar li a:hover .text {
  color: var(--icon-color);
}


/* ============= Section Main kanan =============== */

.main-section {
  max-width: 100%;
  overflow: hidden;
}


/* ============= header content =============== */

/* permasalahan di header : kalau posisinya di berikan fixed maka
haeder kelaur dari layar, namun jika di berikan posisi stiky header ikut ke
scroll, hmm gimana ya caranya agar haeder posisnya tetap di atas dan tidak kelaur dari layar */


.head-content {
  position: sticky;
  top: 0;
  width: 100%;
  color: #dcdbdb;
  padding: 0 24px;
  box-shadow: 2px 1px 5px 1px;
  /* border: 2px solid #5e5cee; */
}

.head-content nav {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  z-index: 2;
  background-color: var(--primary-color-light);
  justify-content: space-evenly;
}

/* === picture profile ===*/
.head-content nav a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;

}
/* ==============================================  */

/* kursor */
.head-content nav .bx.bx-menu {
  cursor: pointer;
  font-size: 25px;
  color: var(--icon-color);

}


.head-content nav .link-nav {
  font-size: 20px;
  font-weight: bold;
  color: var(--sidebar-color);
  transition: .3s ease;
  text-decoration: none;
}

/* form search */
.head-content nav form {
  max-width: 600px;
  width: 90%;
  display: flex;
  margin: auto;
}

/* form searchbar */
.head-content nav form .form-input {
  display: flex;
  background: #f9f9f9;
  color: #e7e7e9;
  align-items: center;
  height: 35px;
  width: 100%;
  border-radius: 10px;
  padding-left: 2px;
  box-shadow: 2px 1px 2px 2px;
}


.head-content nav form .form-input input {
  background-color: var(--primary-color-light);
  padding: 7px;
  border-radius: 0 10px 10px 0px;
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  outline: none;

}


/* submit */
.head-content nav form .form-input button {
  width: 38px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--primary-color-light);
  font-size: 18px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: #E4E4E7;
  padding: 9px;
  color: var(--sidebar-color);
  cursor: pointer;
}

.head-content nav form .form-input button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 1px 0px;
}

/* ==== icon notif ==== */
.head-content nav .notification {
  font-size: 20px;
  position: relative;
  z-index: 10;
  color: var(--icon-color);
  padding-top: 2px;
}

#menu-button{
  height: 50px;
  font-size: 32px;
  font-weight: 700;
  overflow: hidden;
  
}


#menu-label {
  position: relative;
  display: block;
  cursor: pointer;
}

#menu-checkbox{
  display: none;
}

/* ============ main container ========= */

.main-container {
  width: 100%;
  /* padding-top: 20px; */
  cursor: pointer;
  padding: 10px;
}

/* ============ chart container ========= */

/* === text di dalam dashboard === */
.text-chart{
  padding-top: 0px;
}
.text-chart #text1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  color: var(--icon-color);
}

.text-chart #text2 {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #979797;
}

/* ========== filter ============= */

.filter {
  display: flex;
  margin: 10px;
  gap: 10px;
}

#store{
  padding: 10px 10px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding-right: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border: none;
}

#store:focus,
#store:hover{
  outline: none;
}

#store option{
  background: #ffffff;
}

.filter-2{
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border: #060606;

}

.filter-2 label {
  margin-left: 6px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.filter-2 input[type="date"] {
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filter-2 input[type="date"]:focus,
.filter-2 input[type="date"]:hover{
  outline: none;
}

::-webkit-calendar-picker-indicator{
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

/* ================ CARD ==========*/
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;
  grid-template-areas:
    "area-1 area-2 area-3 area-4"
    "area-5 area-5 area-6 area-6"
    "area-7 area-7 area-8 area-8"
    "area-9 area-9 area-9 area-9"
  ;
}

.rectangle-1 {
  grid-area: area-1;
  height: 120px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}



.rectangle-2 {
  grid-area: area-2;
  height: 120px;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  align-items: center;
  display: flex;
  grid-gap: 20px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

}

.rectangle-2 .ikon {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  background: #e1e0e0;
  color: #8a8ac9;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-3 {
  grid-area: area-3;
  height: 120px;
  background: #ffffff;
  border-radius: 10px;
  /* padding: 20px; */
  align-items: center;
  display: flex;
  grid-gap: 20px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.rectangle-3 .ikon {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #e1e0e0;
  color: #8a8ac9;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-4 {
  grid-area: area-4;
  height: 120px;
  background: #ffffff;
  border-radius: 10px;
  /* padding: 20px; */
  align-items: center;
  display: flex;
  grid-gap: 20px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.rectangle-4 .ikon {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #e1e0e0;
  color: #8a8ac9;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-5 {
  grid-area: area-5;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

}

.rectangle-6 {
  grid-area: area-6;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.rectangle-7 {
  grid-area: area-7;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.rectangle-8 {
  grid-area: area-8;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}



/* ======= top performance ==========  */

.performance .table-wrapper {
  max-height: 70px; /* Sesuaikan tinggi maksimum sesuai kebutuhan */
  overflow-y: auto; /* Aktifkan scroll vertikal */
  /* border: 1px solid #cf1818; */
  border-radius: 5px;
  width: 100%;
}

.performance table {
  width: 100%;
  border-collapse: collapse;
}

/* Gaya untuk header tabel */
.performance table #headPerformance th {
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  background: #dcdbdb;
  font-size: 14px;
  position: sticky; /* Membuat header tetap terlihat saat scroll */
  top: 0;
  z-index: 1; /* Memastikan header berada di atas isi tabel */
}

/* Gaya untuk body tabel */
.performance table #bodyPerformance td {
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid #ddd; /* Menambahkan border atas pada setiap baris */
}

/* Tambahan gaya untuk keseluruhan tabel */
.performance table th, .performance table td {
  border-bottom: 1px solid #ddd; 
}



.rectangle-1 .card-performance{
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.rectangle-1, .rectangle-2, .rectangle-3, .rectangle-4, 
.rectangle-5, .rectangle-6, .rectangle-7, .rectangle-8 
.card-name{
  padding: 10px;
}

.rectangle-2, .rectangle-3, .rectangle-4, .card-name .numbers{
  font-size: 20px;
  font-weight: 700;
}

.rectangle-2, .rectangle-3, .rectangle-4, .card-name label{
  font-size: 16px;
  font-weight: 400;
}

.rectangle-5, .rectangle-6, .rectangle-7, .rectangle-8 .card-name{
  text-align: center;
  padding: 10px;
}


/* ========== CHART ============= */

canvas {
  max-height: 85% !important;
}

#pie-chart {
  height: 100%;
  flex-wrap: wrap;
  padding: 10px;

}

#bar-chart {
  height: 100%;
  padding: 10px;
}

#bar-chart-2 {
  height: 100%;
  padding: 10px;
}

#line-chart {
  height: 100%;
  padding: 10px;
}

/* ============= TABLE  ============ */

.table-container {
  grid-area: area-9;
  background: #ffffff;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
}

.table-container table {
  padding-right: 20px;
}

.table-container table thead {
  background-color: rgba(128, 128, 128, 0.751);
  color: white;
}

.table-container tr {
  font-size: 12px;
  text-align: left;
}

.table-container table tbody {
  font-weight: 400;

}

.table-container table tbody td {
  border-bottom: 1px solid rgba(130, 130, 130, 0.402);
  text-align: left !important;
}

.dt-layout-row {
  display: none;
  overflow-y: auto;
}

.dt-length label {
  margin-left: 10px;
}

.table-container table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.table-container table tbody tr:hover {
  background: #dddddd;
}


/* .table-container .text-table {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container table thead {
  background: #F1F3F9;
}

.table-container table th,
.table-container table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.table-container table th {
  background: #F1F3F9;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-container table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.table-container table tbody tr:hover {
  background: #f1f1f1;
}

.table-container table td {
  font-size: 14px;
  font-weight: 300;
} */


/* =======================  FOOTER ======================*/

footer {
  background-color: var(--secondary-color);
  color: var(--sidebar-color);
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  z-index: 23;
}
/* ==== END FOOTER ==== */